<div class="alert-danger" ng-show="hop.$alert">
    <button type="button" class="close" data-dismiss="alert"
      aria-hidden="true" ng-click="hop.$alert = false">&times;</button>
    <strong>{{"entities.actions.save.error" | translate}}</strong> {{"entities.actions.save.saveimpossible" | translate}}
</div>
<form class="form-horizontal" name="hopform" ng-submit="save(hopform)">
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label" translate="entities.hop.name.title"></label>
            <input type="text" class="form-control" ng-model="editdata.name"
                ng-required="true"
                placeholder="{{edit ? ('entities.hop.name.example' | translate) : ''}}" ng-disabled="!edit"/>
       </div>
       <div class="col-md-3">
            <label class="control-label" translate="entities.hop.alpharange.title"></label>
            <div class="form-inline">
                    <div class="input-group">
                    <input type="text" class="form-control" ng-model="editdata.alpha_range.min"
                            placeholder="{{edit ? ('entities.hop.alpharange.min.example' | translate) : ''}}" ng-disabled="!edit"/>
                    <span class="input-group-addon">-</span>
                    <input type="text" class="form-control" ng-model="editdata.alpha_range.max"
                            placeholder="{{edit ? ('entities.hop.alpharange.max.example' | translate) : ''}}" ng-disabled="!edit"/>
                    <span class="input-group-addon">%</span>
                </div>
           </div>
       </div>
       <div class="col-md-3">
            <label class="control-label" translate="entities.hop.flavor.title"></label>
            <input type="text" class="form-control" ng-model="editdata.flavor"
                placeholder="{{edit ? ('entities.hop.flavor.example' | translate) : ''}}" ng-disabled="!edit"/>
       </div>
    </div>
    <div class="form-group">
       <div class="col-md-12">
            <label class="control-label" translate="entities.hop.description.title"></label>
            <textarea class="form-control" name="description" rows="3"
              ng-model="editdata.description"  ng-disabled="!edit"
               placeholder="{{edit ? ('entities.hop.description.example' | translate) : ''}}"></textarea>
       </div>
    </div>
    <div class="form-group" ng-if="edit">
        <div class="col-md-12">
           <button type="submit" class="btn btn-success" ng-disabled="!hopModified()">
               <i class="glyphicon glyphicon-ok"></i> {{"entities.actions.save.name" | translate}}
           </button>
            <button class="btn btn-danger" ng-click="resetData()" ng-disabled="!hopModified()">
               <i class="glyphicon glyphicon-remove"></i> {{"entities.actions.cancel" | translate}}
            </button>
        </div>
    </div>
</form>
