<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <form>
    <h1 class="page-header" translate="breweryManagement.form.title"></h1>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="{{'brewery.name' | translate}}" ng-model="brewery.name">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addBrewery()" translate="breweryManagement.form.addButton"></button>
      </span>
    </p>
  </form>

  <label class="page-header" translate="breweryManagement.list.title"></label>
   <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="brewery in brewerys">
        <li>
            {{brewery.name}}
            <button type="button" class="close" ng-click="deleteBrewery(brewery)">&times;</button>
            <button type="button" class="close" ng-click="initStorageLocation(brewery)"  title="{{'breweryManagement.list.addStorageLocation' | translate}}">+&nbsp;&nbsp;</button>
        </li>
        <li ng-show="brewery.newStorageLocation != undefined">
            <p class="input-group">
              <input type="text" class="form-control" placeholder="{{'storageLocation.nameStorageLocation' | translate}}" ng-model="brewery.newStorageLocation.name">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addStorageLocation(brewery)" translate="storageManagement.form.addButton"></button>
              </span>
            </p>    
        </li>
        <ul class="nav nav-tabs nav-stacked col-md-7 col-lg-7 col-sm-7" ng-repeat="storageLocation in storageLocations">

            <li ng-show="storageLocation.brewery==brewery._id">
                &nbsp;&nbsp;&nbsp;&nbsp;{{storageLocation.name}}
                <button type="button" class="close" ng-click="deleteStorageLocation(storageLocation)">&times;</button>
            </li>
          </ul>
      </ul>
    </div>
  </div>
</div>
</div>
