$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body { padding-top: 70px; }

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

@mixin padding-md($side) {
    @if $side == 'all' {
        .padding-md {
            padding: 10px !important;
        }
    } @else {
        .padding-md-#{$side} {
            padding-#{$side}: 10px !important;
        }
    }
}

@include padding-md("left");
@include padding-md("right");
@include padding-md("top");
@include padding-md("bottom");
@include padding-md("all");

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'brewery/brewery.scss';
@import 'hops/hops.scss';
@import 'main/main.scss';
@import 'malts/malts.scss';
@import 'stock/stock.scss';
@import 'yeasts/yeasts.scss';
@import 'modal/modal.scss';
// endinjector

.no-margin{
    margin:0px !important;
}

.absolute {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.list-nav-item{
    min-height: 40px;
    cursor: pointer;
}
.list-nav-item:hover {
    background-color: #e7e7e7;

}

.list-nav-txt{
     min-height: 20px;
}

