$icon-font-path:"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
 $fa-font-path:"/bower_components/font-awesome/fonts";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    padding-top: 70px;
}
@mixin no-padding($side) {
    @if $side=='all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'brewery/brewery.scss';
@import 'hops/hops.scss';
@import 'malts/malts.scss';
@import 'receipts/receipts-edit/receipts-edit.scss';
@import 'receipts/receipts-list/receipts-list.scss';
@import 'stock/stock.scss';
@import 'yeasts/yeasts.scss';
@import 'modal/modal.scss';
// endinjector

.no-margin {
    margin: 0px !important;
}

.with-newlines {
    white-space: pre;
}

.animate-show {
    transition: all linear 0.5s;
}
.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
}
.msk-popup-closebtn {
    @extend .close;
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 12px;
}

.msk-input-noedit {
    @extend .form-control-static;
    padding-left: 13px;
    background-color: #f5f5f5;
    border-radius: 3px;
    min-height: 35px;
}
.msk-popup {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    text-align: center;
}

// hide spinner for input number
.msk-form input[type=number]::-webkit-outer-spin-button,
.msk-form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.msk-form input[type=number] {
    -moz-appearance:textfield;
}

.msk-form .help-block {
    position : absolute;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
}

// List for ingredients
.msk-list {
    padding: 0px !important;
}

// List for ingredients
.msk-list li{
    @extend .col-md-12, .col-lg-12, .col-sm-12, .nav, .nav-tabs, .nav-stacked, .no-padding;
}

.msk-list-item {
    @extend .col-md-12, .col-lg-12, .col-sm-12, .container;
    min-height: 40px;
    padding: 0px !important;
}

.msk-list-item .btn-group {
    position: absolute;
    top: 5px;
    right: 5px;
}

.msk-list-item .btn-group .btn {
    @extend .btn-default, .btn-sm;
    margin : 0px !important;
}

.msk-list-txt {
    @extend .col-md-12, .col-lg-12, .col-sm-12, .container;
    margin: 0px !important;
    min-height: 40px;
    padding-right: 60px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}

.msk-list-txt:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.msk-list-addbtn {
    @extend .panel-heading;
    color: #3f81ba !important;
    cursor : pointer;
}
