    <div ng-controller="MishkaBeerMessageCtrl" class="mishka-popup">
        <div class="animate-show alert-danger" ng-show="isDisplayError()">
            <button type="button" class="close  popup-close-button" ng-show="isDisplayError()" ng-click="hideError()"><i class="glyphicon glyphicon-chevron-up"></i></button>

            {{errorMessage | translate}}
        </div>
        <div class="animate-show alert-success" ng-show="isDisplayInfo()">
            {{infoMessage | translate}}
        </div>
    </div>
