<form class="form-horizontal">
    <div class="form-group">
        <div class="col-md-8">
            <label class="control-label" translate="entities.malt.name.title"></label>
            <input type="text" class="form-control" ng-model="malt.name"
                placeholder="{{'entities.malt.name.description' | translate}}"/>
       </div>
       <div class="col-md-2">
            <label class="control-label" translate="entities.malt.ebc.title"></label>
            <input type="text" class="form-control" ng-model="malt.ebc"
                placeholder="{{'entities.malt.ebc.description' | translate}}"/>
       </div>
       <div class="col-md-2">
            <label class="control-label" translate="entities.malt.maxyield.title"></label>
            <input type="text" class="form-control" ng-model="malt.maxyield"
                placeholder="{{'entities.malt.maxyield.description' | translate}}"/>
       </div>
    </div>
    <div class="form-group">
       <div class="col-md-12">
            <label class="control-label" translate="entities.malt.description.title"></label>
            <textarea class="form-control" name="description" rows="3" ng-model="malt.description"
               placeholder="{{'entities.malt.description.description' | translate}}">
            </textarea>
       </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
           <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </div>
</form>
