<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h1 class="page-header">{{'nav-bar.malts' | translate}}</h1>
            <div class="panel panel-default" id="panel1">
                <div class="msk-list-addbtn" ng-click="changeShowNewMalt()">
                        {{'entities.malt.add' | translate}}
                        <p class="pull-right"><i class="glyphicon glyphicon glyphicon-plus" ng-if="newMaltClass===''"></i><i class="glyphicon glyphicon glyphicon-chevron-up" ng-if="newMaltClass==='in'"></i>
                        </p>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" ng-class="newMaltClass">
                    <div class="panel-body">
                        <maltedit savefunction="saveMalt" clearform="true" edit="true" />
                    </div>
                </div>
            </div>
            <div class="alert-warning" ng-show="listManager.items == null || listManager.items.length === 0">{{"entities.actions.list.empty" | translate}}</div>
            <ul class="msk-list" ng-repeat="malt in listManager.items | orderBy:'name'">
                <li ng-class="listManager.getInfos(malt._id).$edit || listManager.getInfos(malt._id).$details ?'panel panel-default' : ' '">
                    <div class="msk-list-item" ng-class="listManager.getInfos(malt._id).$edit || listManager.getInfos(malt._id).$details ? 'panel-heading' : ' '">
                        <div class="msk-list-txt"  ng-click="show(malt)">
                            <div class="col-md-8 col-sm-8 no-padding-left">{{malt.name}}</div>
                            <div class="col-md-2 col-sm-2 no-padding-left">
                                {{getNameMaltType(malt.type) | translate}}
                            </div>
                            <div class="col-md-2 col-sm-2 no-padding-left">
                                <p ng-if="malt.ebc" class="no-margin">{{'entities.malt.ebc.title' | translate}} : {{malt.ebc}}</p>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn" ng-class="listManager.getInfos(malt._id).$edit ? 'active' : ' '" ng-click="listManager.edit(malt)"><i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button" class="btn" ng-click="deleteMalt(malt)"><i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body" ng-if="listManager.getInfos(malt._id).$edit">
                        <maltedit savefunction="saveMalt" malt="malt" clearform="false" clearform="false" edit="true" />
                    </div>
                    <div class="panel-body" ng-if="listManager.getInfos(malt._id).$details">
                        <maltedit savefunction="saveMalt" malt="malt" clearform="false" clearform="false" edit="false" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
