<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'nav-bar.malts' | translate}}</h1>
            <!-- TODO ADD PANEL -->
        </div>
        <!-- Panels warning & error -->
        <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="malt in malts | orderBy:'name'">
        <li>
            {{"EDIT : " + getInfos(malt._id).$edit}}
            {{"DETAILS : " + getInfos(malt._id).$details}}
             <a href="" class="container" tooltip="{{malt.name}}{{malt.description == null || malt.description.trim().length === 0 ? '' : ' : '}}{{malt.description}}">
                <div class="col-md-6">{{malt.name}}</div>
                <div class="col-md-2"><p>{{getNameMaltType(malt.type) | translate}}</p></div>
                <div class="col-md-2"><p ng-if="malt.ebc">{{'entities.malt.ebc.title' | translate}} : {{malt.ebc}}</p></div>
                <div class="col-md-2 btn-group">
                   <button type="button" class="btn btn-default btn-sm navbar-btn pull-right no-margin" ng-click="deleteMalt(malt)" tooltip="{{'entities.actions.delete' | translate}}">
                       <i class="glyphicon glyphicon-trash"></i>
                   </button>
                   <button type="button" class="btn btn-default btn-sm navbar-btn pull-right no-margin" ng-click="edit(malt)"  tooltip="{{'entities.actions.edit' | translate}}">
                       <i class="glyphicon glyphicon-pencil"></i>
                   </button>
                   <button type="button" class="btn btn-default btn-sm navbar-btn pull-right no-margin" ng-click="show(malt)"  tooltip="{{'entities.actions.details' | translate}}">
                       <i class="glyphicon glyphicon-zoom-in"></i>
                   </button>
                </div>
            </a>
            <div class="panel-body" >
                <maltedit savefunction="saveMalt" malt="malt" clearform="false" ng-controller="MaltsCtrl" ng-if="getInfos(malt._id).$edit"/>
            </div>
        </li>
      </ul>
    </div>
</div>
